name: PR Build

on: [pull_request]

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        java: [11, 16]
        scala: [2.13.6]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - uses: actions/cache@v2
        with:
          path: |
            ~/.sbt
            ~/.ivy2
          key: ${{ runner.os }}-${{ hashFiles('**/*.sbt') }}
      - name: Build
        run: cat /dev/null | project/sbt ++${{ matrix.scala }} clean test doc
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 16
        uses: actions/setup-java@v1
        with:
          java-version: 16
      - uses: actions/cache@v2
        with:
          path: |
            ~/.sbt
            ~/.ivy2
          key: ${{ runner.os }}-${{ hashFiles('**/*.sbt') }}
      - name: Build
        run: cat /dev/null | project/sbt checkLicenseHeaders scalafmtCheckAll
