name: PR Build

on: [pull_request]

jobs:
  build:
    runs-on: macos-14
    strategy:
      matrix:
        java: [17, 25]
        scala: [2.13.18, 3.8.1]
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
          cache: 'sbt'
      - name: Build
        run: cat /dev/null | project/sbt ++${{ matrix.scala }} clean test doc
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'zulu'
          cache: 'sbt'
      - name: Build
        run: cat /dev/null | project/sbt checkLicenseHeaders scalafmtCheckAll
