name: PR Build

on: [pull_request]

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        java: [17, 18]
        scala: [2.13.10]
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
          cache: 'sbt'
      - name: Build
        run: cat /dev/null | project/sbt ++${{ matrix.scala }} clean test doc
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'zulu'
          cache: 'sbt'
      - name: Build
        run: cat /dev/null | project/sbt checkLicenseHeaders scalafmtCheckAll
